TOKEN=skEsoDagCxgvFP7dfPKhMLUwCgfalhHiAXTHk79cF9PJE0JRS17JQ8k5xn0BOvz3syR15Tpe0xlUg5wkvdHsCnleHzeh7rIsZfya65EFSB8GXN8Mb93lwCxSPNYeErOsRsDpybE7yzQJJPEdxENwhm2YIjcwTMfFRXKk67Hv6SDcfhCaR6OC
NEXT_PUBLIC_TOKEN=sk7mHPKFSbNlqsj3OR5IZMP0sT87rsr4VB7tlUJ9qHmMceVKoELRQWIPMuvi2T8C4BA1iNM9mce5D1PEMy4qHr3MvnSinYxFI8LbR4WKeSFzUdNbR3WFL5aB2iV7de9Y3sMMtYS7UKuZYYQWx8AeRPCUPck4gJP2oVqFUjVkOHU7AIuAZBXF
NEXT_PUBLIC_ADDRESS=0x30804610058De4e844Af79C9781108E3f286952d
NEXT_PUBLIC_IS_PRODUCTION=false