html {
  scroll-padding-top: 80px;
  scroll-behavior: smooth;
}

#nprogress .bar {
  background: var(--primary-color3) !important;
}

#nprogress .spinner-icon {
  border-top-color: var(--primary-color3) !important;
  border-left-color: var(--primary-color3) !important;
}

.cursor {
  cursor: pointer !important;
}

.mx-25 {
  margin-left: 0rem;
  margin-right: 0rem;
}

@media (min-width: 576px) {
  .mx-25 {
    margin-left: 13rem;
    margin-right: 13rem;
  }
}

.image-preview {
  max-width: 20rem;
  max-height: 20rem;
}

.font-sm {
  font-size: small;
}

.logo-dark {
  object-fit: cover;
}

.opensea-icon {
  background-color: white;
  width: 22px;
  height: 22px;
  background: url('https://api.iconify.design/simple-icons:opensea.svg?color=white')
    no-repeat center center / contain;
}

.cursor-pointer {
  cursor: pointer;
}

.blur-img {
  filter: blur(1rem);
}

/* Websites */

.website .swiper-slide img {
  border-radius: 25px;
}

.website .menu-item.active a {
  color: var(--main-color);
}

.website .img-wrapper {
  width: 100%;
  height: 30vh;
}

.website .card-media img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.website .sc-card-product .card-title {
  justify-content: center;
}

.website .sc-card-collection.style-2.sc-card-style7 .sc-author-box {
  top: 18% !important;
}

.website .sc-card-collection .desc {
  padding-top: 1.5rem;
}

.website .sc-card-collection .desc p {
  font-size: 14px;
  line-height: 20px;
}

.website .card-media-h7 {
  width: 100% !important;
  height: 150px;
  background: var(--bg-section);
}

.website .card-media-h7 img {
  object-fit: cover;
}

.website .card-bottom .author {
  margin-top: 2rem;
}

.website .mint-section {
  padding-bottom: 80px;
}

.website .tf-item-details .content-right .meta-item-details {
  flex-direction: column;
}